<div class="container">
    <header class="header">
        <div id="main-nav" class="main-nav flex items-center justify-between">
            <div class="main-nav--logo pl-5">
                LOGO
            </div>
            <div class="main-mav--name">
                Property.
            </div>
            <div id="search" class="main-nav--search">
                <div class="button-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.3536" y1="3.35355" x2="3.35355" y2="12.3536" stroke="black"/>
                        <line x1="11.3659" y1="3.65922" x2="15.34" y2="7.92614" stroke="black"/>
                        <line x1="5.5" y1="10" x2="5.5" y2="22" stroke="black"/>
                        <line x1="5" y1="21.5" x2="11" y2="21.5" stroke="black"/>
                        <circle cx="14" cy="15" r="5.5" stroke="black"/>
                        <line x1="18.3067" y1="18.5481" x2="21.2826" y2="20.5876" stroke="black"/>
                        </svg>
                </div>
               
                    
            </div>
        </div>
    </header>
    
    <div class="body">
        <section class="section-1">
            visiobnary proper ties, created for lic=ving & working in the future
        </section>

        <section class="section-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga aperiam quas accusantium assumenda culpa, doloremque voluptatibus veritatis reiciendis quia tempora esse. Ea alias velit aperiam itaque veniam libero ipsum nobis.
        </section>

        <section class="our-projects">
            <p class="title">Our project.</p>
        </section>
    
        <section class="about-us">
            <p class="title">about us.</p>
            <p class="sub-title">
                project developer for visionary real estate
            </p>
        </section>

        <section class="news-letter">
            <p class="title">news letter</p>
        </section>
    </div>
    
    <footer class="footer">
        Project.

        <nav>
            <ol>
                <li>projects</li>
                <li>company</li>
                <li>property search</li>
            </ol>
            <ol>
                <li>career</li>
                <li>newsletter</li>
                <li>sustainablility</li>
            </ol>
            <ol>
                <li>contract</li>
                <li>imprint</li>
                <li>privacy</li>
                <li>information to be provided</li>
            </ol>
        </nav>
    </footer>
</div>